/*CSS DOCUMENT */


body {
	background-color: #fbfaf7;
	color: #333333;
	font-family: _____;
}

div.container {
	max-width: 40em;
	margin: auto;
}

img {
	width: 100%;
}

figure {
	margin: 1em 0;
}

h1, h2, h3, h4, p, figcaption, ul, ol, li { 
	margin: 0;
	padding: 0; 
	font-size: 1em; 
	font-weight: normal;
}

h1 {
	margin-bottom: 0.25em;
	font-family: "futura-pt-bold", sans-serif;
	font-weight: 700;
	font-size: 30pt; 
	font-style: normal;
}

h2 {
	font-family: "chantal", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 22pt; 
}

h3 {
	font-family: "chantal", sans-serif;
	font-size: 18pt; 
	font-weight: 200;
}

p {
	margin-bottom: 1em;
	font-family: "richmond-text";
	font-size: 10pt; 
	font-weight: book;
}

figcaption{
	font-family: "richmond-text";
	font-weight: 400;
	font-style: normal;
	font-size: 8pt; 
}

